@font-face {
  font-family: Ageo;
  src: url("../fonts/Ageo/ageopersonaluse-medium.woff");
}

@font-face {
  font-family: Ageo-XBold;
  src: url("../fonts/Ageo/ageopersonaluse-extrabold.woff");
}

@import url("https://fonts.googleapis.com/css2?family=DMSans:wght@400;500;700&display=swap");

:root {
  --mainColor: #ff6600;
  --secondaryColor: #ffffff;
  --primaryFont: "Ageo", sans-serif;
  --primaryFontXBold: "Ageo-XBold", sans-serif;
  --secondaryFont: "DM Sans", sans-serif;
  --primaryFontColor: #0b1b35;
  --secondaryFontColor: #000000;
  --accentFontColor: #1e0e62;
  --lightFontColor: #8a898e;
  --transparentFontColor: #15143966;
  --buttonFontColor: #ffffff;
  --borderMainColor: #ebeaed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-size-1: 0.875em;
  --font-size-2: 1em;
  --font-size-3: 1.125em;
  --font-size-4: 1.375em;
  --font-size-5: 2.25em;
  --font-size-6: 3.25em;
  --font-size-7: 4.75em;
}

body {
  margin: 0;
  font-family: var(--primaryFont);
  font-size: 16px;
}

div.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

div.inner-container {
  width: 100%;
  padding: 3em 8.5em;
}

button.primary-color {
  background-color: var(--mainColor);
  border-radius: 10px;
  border: none;

  font-family: var(--primaryFont);

  color: var(--buttonFontColor);
  font-size: var(--font-size-3);
}

button.secondary-color {
  background-color: var(--secondaryColor);
  border: 2px solid var(--borderMainColor);
  border-radius: 100px;

  font-family: var(--secondaryFont);
  color: var(--accentFontColor);
}

button:hover,
i:hover {
  cursor: pointer;
}

.content {
  margin-top: 5em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Navigation */
header {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
}

ul.menu {
  display: flex;
  justify-content: space-between;

  width: 30%;
  margin-right: auto;
}

nav img {
  margin-right: 9.5%;
}

ul.menu li a,
nav div:last-child a {
  text-decoration: none;
  font-weight: 500;
  font-size: var(--font-size-3);
  color: var(--secondaryFontColor);
}

ul.menu li a:hover,
nav div:last-child a:hover,
ul.menu li a:active,
nav div:last-child a:active {
  font-weight: 700;
}

nav div:last-child {
  display: flex;
  justify-content: space-between;
  min-width: 12em;
}

nav div:last-child p {
  margin-right: 22px;
}

nav div:last-child button {
  padding: 0.62em 1.3em;
}

/* Banner */

.banner {
  display: flex;
  justify-content: space-between;
}

.banner div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 90px 0;
}

.banner div h3 {
  font-family: var(--primaryFontXBold);
  margin: 0;
  color: var(--primaryFontColor);
  font-size: var(--font-size-7);
  line-height: 1.065em;
  font-weight: 850;
}

.banner div p {
  color: var(--secondaryFontColor);
  font-size: var(--font-size-4);
  line-height: 1.27em;
}

button[name="getstarted"] {
  padding: 0.75em 2em;
}

/* Section Headers */

div.section-header {
  font-weight: 700;
  text-align: center;

  margin-top: 7.5em;
}

.section-header h2 {
  font-size: var(--font-size-1);
  color: var(--lightFontColor);
  line-height: 2em;
  letter-spacing: 0.45em;
  text-transform: uppercase;

  margin: 0;
}

.section-header h3 {
  font-size: var(--font-size-6);
  color: var(--primaryFontColor);

  margin: 0;
}

/* Services */

.services {
  display: flex;
  justify-content: space-between;

  margin-top: 7em;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: 28px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  padding: 2em 3.5em;
  margin-right: 3em;
}

.services div:last-child {
  margin-right: 0;
}

.service button {
  padding: 0.75em 2.1em;
}

.service h2 {
  font-weight: 700;
  font-size: var(--font-size-5);
  line-height: 0.8em;
  text-align: center;
}

.service p {
  font-weight: 400;
  font-size: var(--font-size-3);
  line-height: 1.55em;
  text-align: center;
}

/* Services Video Section  */

.services-video {
  display: flex;
  justify-content: space-between;
  margin-top: 11.5rem;

  font-family: var(--secondaryFont);
}

.services-video button {
  padding: 0.75em 2.45em;
  margin-top: 8em;

  font-size: var(--font-size-2);
  line-height: 1.375em;
}

.services-video div:first-child {
  padding-top: 10px;
  margin-right: 160px;
  width: 30%;
}

.services-video div:first-child p:first-child {
  color: var(--accentFontColor);
  font-weight: 500;
  font-size: var(--font-size-4);
  line-height: 32px;

  padding-right: 130px;
  margin: 0;
}

.services-video div:first-child p:nth-child(2) {
  color: var(--transparentFontColor);
  font-weight: 400;
  font-size: var(--font-size-2);
  line-height: 26px;

  margin: 20px 0 0 0;
}

.services-video .video {
  width: 55%;
  border-radius: 10px;
}

/* Client's opinions */

.opinions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  gap: 1.875em;

  padding: 0 8.4375em;
  margin-top: 6.25em;
}

.opinion {
  display: flex;
}

.opinion div:nth-child(2) {
  margin-left: 1.875em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opinion:nth-child(3),
.opinion:nth-child(4) {
  margin-top: 5em;
}

.opinion-content,
.customer-name {
  font-family: var(--secondaryFont);
  color: var(--primaryFontColor);
}

.opinion-content {
  font-family: var(--secondaryFont);
  font-weight: 500;
  font-size: var(--font-size-3);
  line-height: 1.6em;
  color: var(--secondaryFontColor);

  margin: 0 0 0.8125em 0;

  width: 90%;
}

.customer-name {
  font-weight: 700;
  font-size: var(--font-size-1);
  line-height: 1.857;
  text-transform: uppercase;

  opacity: 0.3;

  margin: 0;
}

/* Teammate  */

.teammates-container {
  display: flex;
  justify-content: space-between;

  margin-top: 3.3125em;
}

.teammate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 30%;

  border: 2px solid var(--borderMainColor);
  border-radius: 10px;
  margin-right: 1.875em;
}

.teammate:last-child {
  margin-right: 0;
}

.teammate div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 3.125em;
}

.teammate div:first-child img {
  margin-bottom: 1.8125em;
}

.social-icons-container {
  display: flex;
  justify-content: space-between;

  height: 60px;
  width: 100%;
}

.social-icons-container a {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--transparentFontColor);
  font-size: var(--font-size-4);

  border-top: 2px solid var(--borderMainColor);
  border-right: 2px solid var(--borderMainColor);
  border-left: none;
  border-bottom: none;
  width: 100%;
  height: 100%;
}

.social-icons-container a:last-child {
  border-right: none;
}

.teammate-name {
  font-family: var(--secondaryFont);
  font-size: var(--font-size-4);
  line-height: 32px;
  color: var(--accentFontColor);
  margin: 0 0 16px 0;
}

.teammate-position {
  font-family: var(--secondaryFont);
  font-size: var(--font-size-1);
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--transparentFontColor);
  margin: 0 0 35px 0;
}

/* Footer */

footer {
  font-family: var(--secondaryFont);
}

footer img {
  width: 111px;
}

footer div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--borderMainColor);
  padding: 63px 0 35px 0;
}

footer ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 455px;
}

footer ul li {
  margin-right: 0;
}

footer div p {
  font-weight: 400;
  font-size: var(--font-size-2);
  line-height: 26px;
  color: var(--accentFontColor);

  width: 369px;
}

footer > p {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-2);
  line-height: 26px;
  color: var(--transparentFontColor);
  margin-top: 40px;
}
