body {
    margin: 0;
    max-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div > div {
    border: 2px solid black;
}
.one {
width: 200px;
height: 200px;
background-color: green;

}

.two {
width: 200px;
height: 200px;
background-color: yellow;

}

.three {
width: 200px;
height: 200px;
background-color: blue;

}

.one:hover {

}